
#map{
	position: absolute;
	left: 200px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-image: url('bg.png');
}

#left{
	left: 100px;
}

#right{
	left: 1800px;
}
#jump{
	left: 800px;
	width: 700px;
}

.button{
	position: absolute;
	width: 500px;
	height: 1000px;
}