#player{
	position: absolute;
	width: 10%;
	height: 10%;
	background-color: blue;
}

#left{
	position: absolute;
	left: 0%;
	width: 30%;
	height: 100%;
}
#mid{
	position: absolute;
	left: 33%;
	width: 30%;
	height: 100%;
}
#right{
	position: absolute;
	left: 66%;
	width: 30%;
	height: 100%;
}	

.rock{
	position: absolute;
	background-color: grey;
	top: 20%;
}